:root{
  --bg-color:hsl(0, 0%, 100%);
  --main-bg-color:hsl(30, 54%, 90%);
  --h1-color:hsl(24, 5%, 18%);
  --rose-color:hsl(332, 51%, 32%);
  --section-color:hsl(330, 100%, 98%);
  --body-color:hsl(14, 45%, 36%);
  --p-color:hsl(30, 10%, 34%);
  --heading-font:"Young Serif", serif;
  --body-text-font:"Outfit", sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:sans-serif;
}

main{
  height: 100%;
  max-width: 720px;
  width: 100%;
  background-color: var(--bg-color);
  object-fit: contain;
  padding: 30px;
  border-radius: 20px;
  margin: 50px 0;
}

.img-box{
  width: 100%;
  border-radius: 20px;
}

.img-box img{
  width: 100%;
  border-radius: 20px;
}

.recipe-description{
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-description h1{
  font-size: 40px;
  letter-spacing: 1px;
  color: var(--h1-color);
  font-weight: bolder;
  font-family: var(--heading-font);
  margin-bottom: 20px;
}

.recipe-description p{
  font-size: 16px;
  font-family: var(--body-text-font);
  font-weight: 500;
  color: var(--p-color);
}

.preparation-section{
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.preparation-section h4{
  font-family: var(--body-text-font);
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.time-list{
  list-style: none;
  margin:0;
  padding:0;
  font-size: 18px;
}

.time-list li{
  position: relative;
  padding-left: 30px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.time-list li::before{
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--rose-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

.label{
  font-family: var(--body-text-font);
  font-weight: 800;
  color: var(--p-color);
  margin-right: 5px;
}

.value{
  color: var(--p-color);
  font-weight: 500;
}

.indredient-section{
  padding-left: 10px;
  margin-bottom: 50px;
}

.indredient-section h3,
.instruction-section h3{
  margin-bottom: 30px;
  font-family: var(--heading-font);
  font-size: 30px;
  font-family: 600;
  color: var(--p-color);
}

.indredient-section li{
  margin-bottom: 15px;
}

.hr-line{
  width: 100%;
  height: 0.50px;
  background: var(--p-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.nutri-hr-line{
  width: 100%;
  height: 0.50px;
  background: var(--p-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-steps{
  list-style: none;
  counter-reset: step;
  padding: 0;
  margin: 0;
}

.recipe-steps li{
  counter-increment: step;
  margin: 18px 0;
  position: relative;
  padding-left: 30px;
  font-family: var(--body-text-font);
  color: var(--p-color);
}

.recipe-steps li::before{
  content: counter(step) ".";
  position: absolute;
  left: 0;
  top: 0;
  color:var(--p-color) ;
  font-family: var(--body-text-font);
  font-weight: bold;
}

.recipe-steps li span{
  font-weight: 700;
}

.nutrition-section{
  border-collapse: collapse;
  width: 100%;
}

.nutrition-row{
  display: flex;
  justify-content: space-betweens;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid black;
}

.nutrition-row:last-child{
  border-bottom: none;
}

.nutrition-label{
  font-weight: 400;
  color: var(--body-color);
  font-family: var(--body-text-font);
}

.nutrition-value{
  font-weight: 700;
  color: var(--body-color);
  font-family: var(--body-text-font);
}

.nutrition-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
}